# Digital Carbon Retirement Verification

This document provides a step by step process to verify your Digital Carbon retirement. It links the transaction from **KlimaDAO Retirement page** to the **Verra Registry**.

\
Process

* On the KlimaDAO retirement page, scroll to the bottom of the page and click on ‘**View on Polygonscan**’ and open the retirement transaction.

<figure><img src="https://www.carbonmark.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fdk34t4vc%2Fproduction%2F33757a2d766591997f1d647f47de90cd9fd64d1e-2300x606.png&#x26;w=3840&#x26;q=75" alt=""><figcaption></figcaption></figure>

* Copy the ‘transaction hash’ from Polygonscan.

<figure><img src="https://www.carbonmark.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fdk34t4vc%2Fproduction%2Fff0ad83c0cb0fe794d0e85a4be6db1942eb83dfc-1882x660.png&#x26;w=3840&#x26;q=75" alt=""><figcaption></figcaption></figure>

* Search the ‘transaction hash’ on [Onset Carbon](https://verify.onsetcarbon.com/).

<figure><img src="https://www.carbonmark.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fdk34t4vc%2Fproduction%2Ff6d4b21e7c3b335abdf7ba2f0ef06752c645734c-1268x512.png&#x26;w=3840&#x26;q=75" alt=""><figcaption></figcaption></figure>

* In the search result, click on ‘+’ and expand the project information.

<figure><img src="https://www.carbonmark.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fdk34t4vc%2Fproduction%2Fd0b33f61cec885261b8d393f21331d7605574940-914x630.png&#x26;w=3840&#x26;q=75" alt=""><figcaption></figcaption></figure>

* Click on ‘more’ under ‘verified’ to reveal information on Verra retirement.

<figure><img src="https://www.carbonmark.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fdk34t4vc%2Fproduction%2Fd82b12bb6d51b5d72bac84a44e46264f3b64545f-784x1094.png&#x26;w=3840&#x26;q=75" alt=""><figcaption></figcaption></figure>

* The ‘Valid batch serial number’ reveals the **Project ID (VCS ID)** in the Verra registry and the batch under which the retirement was done for the specified project.
* In the serial number, with the format VER-XX-YY-ABC-XXXX, ABC is the VCS ID.
* In the current example (screenshots above), for the serial number 11241-304324891-304380422-VCS-VCU-259-VER-CG-14-1052-01012012-31122012-0 the **VCS ID** is **1052**.
* Open the [Verra Registry Project Search](https://registry.verra.org/app/search/VCS/All%20Projects) and select VCUs
* Enter the VCS ID under ID in ‘Project Search’. In this case it is 1052.

<figure><img src="https://www.carbonmark.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fdk34t4vc%2Fproduction%2Fcd17878c417a667b2a21beff80b4f67f26b53bab-1700x762.png&#x26;w=3840&#x26;q=75" alt=""><figcaption></figcaption></figure>

[Source](https://registry.verra.org/app/search/VCS)

* The search may display additional projects as well. Scroll down to see the relevant project ID
* There can be several batches of carbon credit issuances for a specific VCS ID. To identify the relevant batch for your carbon credit issuance, search in the browser (CTRL+F) for the specific serial number.
* In this case, 11241-304324891-304380422-VCS-VCU-259-VER-CG-14-1052-01012012-31122012-0.

<figure><img src="https://www.carbonmark.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fdk34t4vc%2Fproduction%2Fce8cf9bc41716c94468c6ef14c26cae41d310e97-2100x856.png&#x26;w=3840&#x26;q=75" alt=""><figcaption></figcaption></figure>

[Source](https://registry.verra.org/app/search/VCS)

* If not found, search for the same in the subsequent page of search results.

\
